---

- name: Install MUNGE
  ansible.builtin.apt:
    name: '{{ munge_packages }}'
    state: present
    enablerepo: '{{ munge_enablerepo | default(omit, true) }}'
    disablerepo: '{{ munge_disablerepo | default(omit, true) }}'
  register: deb_munge_install_packages
